* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #0f1111;
  color: white;
}

#heading {
  height: 70px;
  width: 1277px;
  border: 2px solid white;
  text-align: center;
}

h1 {
  margin-top: 15px;
}

#WorkArea {
  height: 70px;
  width: 500px;
  border: 4px solid white;
  margin-top: 20px;
  margin-left: 388.5px;
  border-radius: 10%;
  background-color: rgb(30, 30, 30);
  color: white;
}

#one,
#four,
#seven,
#dot,
#backspace {
  margin-left: 443px;
}

button {
  height: 72px;
  width: 72px;
  margin-right: 25px;
  margin-top: 15px;
  border-radius: 50%;
  color: white;
  background-color: grey;
  border: 2px solid white;
  font-size: 35px;
}

button:hover {
  opacity: 70%;
}

#plus,
#minus,
#multiply,
#divide,
#equalto {
  width: 100px;
  background-color: #f08804;
  border-radius: 20%;
}

#row5 {
  margin-bottom: 100px;
}
#Calculations {
  font-size: 60px;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 40px;
}
